body{
    background: url(uk.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#name {
    color: blue;
}
#lop {
    color: yellow;
}
nav {
    text-align: center;
    margin: 15px auto 0;
    position: relative;
    width: 700px;
    height: 50px;
  

}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
      color: #000
}
nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .6s ease 0s;
    border-radius: 20px;

}
a:nth-child(1) {
    width: 110px;
}
a:nth-child(2) {
    width: 120px;
}
a:nth-child(3) {
    width: 110px;
}
a:nth-child(4) {
    width: 120px;
}
a:nth-child(5) {
    width: 110px;
}
a:nth-child(6) {
    width: 110px;
}
nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 120px;
    left: 0px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(2):hover ~ .animation {
    width: 120px;
    left: 116px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(3):hover ~ .animation {
    width: 120px;
    left: 235px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(4):hover ~ .animation {
    width: 120px;
    left: 355px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(5):hover ~ .animation {
    width: 120px;
    left: 471px;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(6):hover ~ .animation {
    width: 120px;
    left: 585px;
    background-color: #1abc9c;
}



